.category-menu{
    font-family: 'microsoft yahei';
    width: 210px;
    height: 475px;
    padding-top: 5px;
    background-color: #ed1b23;
    background-image: url(../img/all-category.png);
    background-repeat: no-repeat;
    background-position: left top;
    ul.category-two>li{
        position: relative;
        z-index: 20;
        margin-left: 6px;
        padding-left: 0;
        height: 42px;
        line-height: 42px;
        img{
            float: left;
            width: 20px;
            height: 20px;
            margin: 12px 5px 0;
        }
        &>a{
            overflow: hidden;
            color: #fff;
            float: left;
            font-size: 15px;
            font-weight: 700;
        }
        &:hover{
            background: #fff;
        }
        &:hover>a{
            color: #ed1b23;
        }
        &:hover img{
            display: none;
        }
        &:hover .hide{
            display: inline-block;
        }
        &:hover .category-three{
            display: block;
        }
    }
}
.category-three{
    position: absolute;
    z-index: 20;
    top: 0px;
    left: 203px;
    display: none;
    width: 390px;
    min-height: 458px;
    padding: 10px 0 10px 5px;
    opacity: 0.98;
    background: #fff;
    box-shadow: 4px 2px 4px rgba(0,0,0,.1);
    @include border-set(#e4212d);
    li{
        line-height: 20px;
        height: auto;
        margin: 0 0 15px 0;
        overflow: hidden;
        .category-title{
            font-weight: normal;
            float: left;
            width: 85px;
            margin-right: 10px;
            padding-right: 10px;
            text-align: right;
            border-right: 1px solid #e7e7e7;
            a{
                font-size: 14px;
                float: right;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                color: #ed1b23;
            }
        }
        span{
            display: inline-block;
            float: left;
            width: 280px;
            a{
                float: left;
                max-width: 200px;
                margin-right: 12px;
                color: #1e1e1e;
            }
        }
    }
}
@for $i from 1 through 10{
    .category-three-#{$i}{
        top: -42px*$i+37px;
    }
}
.bannerBox{
    position: relative;
    overflow: hidden;
    width: 790px;
    height: 480px;
    display: none;
    .bannerList{
        position: absolute;
        top: 0;
        left: 0;
        li{
            float: left;
            width: 790px;
            height: 480px;
        }
    }
    .orderDot{
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 50%;
        margin-bottom: 16px;
        margin-left: -60px;
        li{
            line-height: 18px;
            float: left;
            width: 18px;
            height: 18px;
            margin-right: 6px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            background-color: #d6d6d6;
            @include border-radius-set(50%);
        }
        .active{
            background: #ed1b23;
        }
    }
    %arrow{
        position: absolute;
        width: 26px;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        display: none;
        @include border-radius-set(50%);
        span{
            display: block;
            width: 11px;
            height: 17px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .arrow-left{
        @extend %arrow;
        left: 10px;
        span{
            @include background-set("../img/slider-left.png");
        }
    }
    .arrow-right{
        @extend %arrow;
        right: 10px;
        span{
            @include background-set("../img/slider-right.png");
        }
    }
}
.loadingpic{
    width: 790px;
    height: 480px;
    background: url(../img/1392662524764.gif) no-repeat center;
}
.rightAd a{
    overflow: hidden;
    display: block;
    width: 210px;
    height: 240px;
    img{
        margin-left: 0;
    }
}
.promotion{
    overflow: hidden;
    margin-top: 32px;
}
.proContent{
    position: relative;
    width: 1000px;
    .tabs li{
        float: left;
        width: 250px;
        height: 51px;
        background: rgb(238, 238, 238);
        cursor: pointer;
        .on{
            display: none;
        }
        .off{
            display: block;
        }
    }
    .tabs .active{
        background: rgb(0, 90, 170);
        .on{
            display: block;
        }
        .off{
            display: none;
        }
    }
}
.proList{
    position: absolute;
    top: 51px;
    left: 0;
    width: 998px;
    height: 468px;
    padding: 21px 0 25px 0;
    border: 1px solid #005aaa;
    .smallBanner{
        width: 303px;
        height: 468px;
        padding: 0 31px;
        border-right: 1px solid #e5e5e5;
    }
    .itemList{
        position: relative;
        width: 558px;
        height: 468px;
        padding: 0 40px 0 34px;
        li{
            float: left;
            width: 166px;
            height: 231px;
            padding: 3px 10px;
        }
        .topli{
            border-bottom: 1px solid #e9e9e9;
        }
        a{
            color:#1e1e1e;
            &:hover{
                text-decoration: none;
            }
        }
        img{
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }
        p{
            margin-top: 10px;
            font-size: 14px;
            height:38px;
            overflow: hidden;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            display: block;
            margin-top: 10px;
            color: #e4212d;
            font-weight: bold;
            font-size: 16px;
        }
    }
}
.smallBanner{
    .smallBannerBox{
        width: 303px;
        height: 468px;
        display: none;
        overflow: hidden;
        position: relative;
    }
    .loadingpic{
        width:100%;
        height: 100%;
    }
    ul{
        position: absolute;
        width: 303px;
        height: 468px;
        li{
            float: left;
            width: 303px;
            height: 468px;
        }
    }
    a{
        color:#1e1e1e;
        &:hover{
            text-decoration: none;
        }
    }
    img{
        width:280px;
        height:280px;
        margin: 20px auto 0;
    }
    p{
        width: 250px;
        height: 40px;
        margin: 20px auto 0;
        line-height: 20px;
        overflow: hidden;
        font-family: 'Microsoft Yahei';
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        &:hover{
            text-decoration: underline;
        }
    }
    span{
        display: block;
        width: 250px;
        height: 40px;
        margin: 20px auto 0;
        line-height: 20px;
        overflow: hidden;
        font-family: 'Microsoft Yahei';
        color: #e4212d;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
    }
    ol{
        position: absolute;
        bottom: 6px;
        left: 50%;
        margin-left: -24px;
        display: inline-block;
        line-height: 24px;
        li{ 
            text-indent: -9999px;
            float: left;
            width: 8px;
            height: 8px;
            padding: 0 2px;
            cursor: pointer;
            border-top: none !important;
            background: url(../img/big-icon.png) 0 0 no-repeat;
        }
        .active{
            background: url(../img/big-icon-cur.png) 0 0 no-repeat;
        }
    }
    %arrow{
        position: absolute;
        width: 26px;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        display: none;
        @include border-radius-set(50%);
        span{
            display: block;
            width: 11px;
            height: 17px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .arrow-left{
        @extend %arrow;
        left: 10px;
        span{
            @include background-set("../img/slider-left.png");
        }
    }
    .arrow-right{
        @extend %arrow;
        right: 10px;
        span{
            @include background-set("../img/slider-right.png");
        }
    }
}
.proList-2{
    border: 1px solid #ed1b23;
    .itemList{
        width: 1000px;
        padding:0;
        ul{
            overflow: hidden;
            width: 940px;
            margin: 0 auto;
        }
    }
}
.proList-3{
    @extend .proList-2;
    border: 1px solid #92308d;
}
.proList-4{
    @extend .proList-2;
    border: 1px solid #eab76f;
}
.noticeContent{
    position: relative;
    h3{
        font-family: 'Microsoft Yahei';
        font-size: 14px;
        font-weight: 700;
        line-height: 70px;
        height: 50px;
        padding-left: 2px;
    }
    a{
        color: #ed1b23;
    }
    .noticeText{
        line-height: 20px;
        overflow: hidden;
        width: 184px;
        height: 100px;
        padding: 12px 12px 8px 8px;
        border: 1px solid #e9e9e9;
        margin-bottom: 5px;
    }
    .noticeIcon{
        position: absolute;
        top: 18px;
        right: 0;
        width: 37px;
        height: 33px;
        background: url(../img/indexSprite.png) -145px -23px no-repeat;
    }
    .newIcon{
        display: inline-block;
        width: 28px;
        height: 12px;
        background: url(../img/notice-hot.png) 0 0 no-repeat;
    } 
}
.smallAd a{
    display: block;
    height: 191px;
    margin-bottom: 5px;
}
.floor{
    height: 436px;
    margin-top: 40px;
    background-color: #f6f6f6;
}
.floorMenu{
    height: 436px;
    width: 210px;
    h2{ 
        font: normal 18px/42px "Mircosoft Yahei";
        height: 42px;
        margin-left: 8px;
        color: #fff;
        img{
            float: left;
            width: 28px;
            height: 28px;
            margin-top: 6px;
            margin-right: 10px;
            margin-left: 15px;
        }
        span{
            float: left;
            overflow: hidden;
            width: 101px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    b{
        display: block;
        width: 196px;
        height: 0;
        margin: 0 auto;
        border-top: 1px solid #fff;
        @include opacity-set(0.2);
    }
    ul{
        width: 168px;
        padding: 10px;
        margin: 0 auto;
        li{
            line-height: 32px;
            float: left;
            width: 84px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        a{
            font-weight: bold;
            color: #ffffff;
        }
    }
    .brandWall{
        width: 180px;
        height: 180px;
        margin-top: 12px;
        margin-right: auto;
        margin-left: auto;
        background-color: #fff;
    }
}
.floorContent{
    position: relative;
    width: 999px;
    height: 434px;
    border: 1px solid #ececec;
    border-left: none;
}
.floorTabs{
    line-height: 42px;
    position: relative;
    height: 42px;
    li{
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        float: left;
        height: 24px;
        margin-top: 10px;
        margin-left: 20px;
        padding-right: 5px;
        padding-left: 5px;
        cursor: pointer;
    }
    .active{
        color: #fff; 
    }
}
.tabContent{
    position: absolute;
    top: 42px;
    left: 0;
}
.floorBanner{
    width: 400px;
    height: 392px;
}
.floorCommodity{
    overflow: hidden;
    width: 999px;
    height: 392px;
    background-color: #fff;
    ul{
        margin:0 -1px -1px 0;
    }
    li{
        float: left;
        width: 199px;
        height: 196px;
        border-right: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        a{
            color: #1e1e1e;
            &:hover{
                text-decoration: none;
            }
        }
    }
    img{
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    p{
        width:160px;
        margin:0 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover{
            text-decoration: underline;
        }
    }
    span{
        display: block;
        width: 160px;
        margin:0 auto;
        text-align: left;
        color:#ed1b23;
        font-size: 16px;
    }
}
.floorCommodity-1{
    @extend .floorCommodity;
    width: 599px;
}
.floor-1{
    .menuItem{
        background: #6ecb3c;
    }
    .floorTabs .active{
        background: #6ecb3c;
    }
}
.floor-2{
    .menuItem{
        background: #ec6800;
    }
    .floorTabs .active{
        background: #ec6800;
    }
}
.floor-3{
    .menuItem{
        background: #ae0067;
    }
    .floorTabs .active{
        background: #ae0067;
    }
}
.floor-4{
    .menuItem{
        background: #e4007e;
    }
    .floorTabs .active{
        background: #e4007e;
    }
}
.floor-5{
    .menuItem{
        background: #ecc800;
    }
    .floorTabs .active{
        background: #ecc800;
    }
}
.floor-6{
    .menuItem{
        background: #723801;
    }
    .floorTabs .active{
        background: #723801;
    }
}
.floor-7{
    .menuItem{
        background: #8e8162;
    }
    .floorTabs .active{
        background: #8e8162;
    }
}