.clearfix:after{
	content:".";
	height:0;
	display:block;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
.fl{
	float:left
}
.fr{
	float:right
}
.hide{
	display:none
}
.z10{
	z-index:10
}
.z20{
	z-index:20
}
.main_wrapper{
	width: 1210px;
	margin: 0 auto;
}
li{
	list-style:none
}
a{
	text-decoration:none
}
a:hover{
	text-decoration: underline
}
img{
	display:block;
	border:0
}
em,i{
	font-style: normal
}
strong,b{
	font-weight: normal
}
body{
	width:100%;
	overflow-x: hidden;
	overflow-y: auto;
	font: 12px/150% "Verdana,Arial,SimSun,Microsoft Yahei"
}

$rel:relative;
$abs:absolute;

%block{
	display: block;
}

@mixin border-set($color:#000,$width:1px,$style:solid){
    border:$width $style $color;
}

@mixin opacity-set($opacity){
    opacity:$opacity;
    $ieopacity:$opacity*100;
    filter:alpha(opacity=$ieopacity);
}

@mixin border_radius-set($radius:5px){
	border-radius:$radius;
	-webkit-border-radius:$radius;
	-ms-border-radius:$radius;
	-moz-border-radius:$radius;
    -o-border-radius:$radius;
}

@mixin text_ellipsis($width:100px){
	width:$width;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

@mixin box_shadow-set($x,$y,$blur,$spread,$color){
    -webkit-box-shadow: $x $y $blur $spread $color;
	-moz-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}

@mixin transition-set($time,$attr:all){
	transition: $attr $time;
	-moz-transition: $attr $time;
	-webkit-transition: $attr $time;
	-o-transition: $attr $time;
	-ms-transition: $attr $time;
}


@mixin background-set($url,$repeat:no-repeat,$x:0,$y:0){
	background: url($url) $x $y $repeat ;
}

@mixin position-set($type,$left:0,$top:0){
	position:$type;
	left:$left;
	top:$top;
}

@mixin rotate360(){
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}

@mixin rotate180(){
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}